<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon3.ico') }}" type="image/x-icon" />
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/resume.css') }}" media="screen" title="no title">
  <title>about</title>
</head>
<body>
  <div class="min-container">
    <section class="section section-header">
      <div class="sec-name container">
        <img src="static/img/mytouxiang.jpg" alt="朱勇" />
        <h1>关于我</h1>
        <p>一个有梦想的年轻人，正在编程的世界中追求专业与卓越</p>
        <ul>
          <li>邮箱：1581277795@qq.com</li>
          <li>Github：<a href="https://github.com/heshangbuxitou" target="_blank"> heshangbuxitou</a></li>
          <li>Blog：<a href="http://sanyun.me:8080" target="_blank">sanyun.me</a></li>
        </ul>
      </div>
    </section>
    <section class="section intro">
      <div class="container">
        <header class="col-md-4">
          <h2>关于这里&nbsp;/&nbsp;Intro</h2>
          <p>介绍一些基本情况</p>
        </header>
        <div class="section-content col-md-8">
          <p>这是我的一个博客。</p>
          <p>我是一个自学者，喜欢折腾，喜欢钻研新技术。</p>
          <p>善于学习，模仿能力较好，阅读过一些优秀的框架源码。</p>
          <p>对新技术热情，喜欢浏览github，CSDN,一些好的python博客，对代码有洁癖，喜欢重构，善于模块化代码。</p>
          <p>这里会更新一些我在学习过程中的一些东西。</p>
        </div>
      </div>
    </section>
    <section class="section project">
      <div class="container">
        <header class="col-md-4">
          <h2>作品 / Project</h2>
          <p>我所参与做的一些作品和项目</p>
        </header>
        <div class="section-content col-md-8">
          <p>博客： <a href="https://github.com/heshangbuxitou/myweb-system" target="_blank">https://github.com/heshangbuxitou/myweb-system </a></p>
          <p>文件上传下载系统：<a href="https://github.com/heshangbuxitou/yunUpload" target="_blank"> https://github.com/heshangbuxitou/yunUpload</a></p>
        </div>
      </div>
    </section>
    <section class="section sheader">
      <div class="container">
        <p class="text-center"></p>
      </div>
    </section>
  </div>
</body>
</html>